<nav class="site-nav navbar navbar-expand-md navbar-light">
  <div class="container">
    <!-- <a class="navbar-brand" href="index.html">{{ site.title }}</a> -->
    <a class="navbar-brand" href="index.html"><img class="align-top" src="https://img.zce.me/logo.svg" alt="{{ site.title }}" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site_nav" aria-controls="site_nav" aria-expanded="false" aria-label="Toggle navigation"><i class="navbar-toggler-icon"></i></button>
    <div class="navbar-collapse collapse" id="site_nav">
      <ul class="navbar-nav" role="menu">
        {% for item in site.menus %}
        {% set isCurrent = current === item.name | lower %}
        <li class="nav-item nav-{{ item.name | lower }}{% if item.children %} dropdown{% endif %}{% if isCurrent %} active{% endif %}" role="menuitem">
          <a class="nav-link{% if item.children %} dropdown-toggle{% endif %} d-flex align-items-center" href="{{ item.link }}"{% if item.children %} id="nav_{{ item.name | lower }}_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}{% if isCurrent %}  aria-current="page"{% endif %}>{% if item.icon %}<i class="icon-{{ item.icon }} mr-1"></i> {% endif %}{{ item.name }}</a>
          {% if item.children %}
          <div class="dropdown-menu" aria-labelledby="nav_{{ item.name | lower }}_dropdown">
            {% for item in item.children %}
            {% if item.name === 'divider' %}
            <div class="dropdown-divider"></div>
            {% else %}
            <a class="dropdown-item" href="{{ item.link }}">{{ item.name }}</a>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      <form class="search" action="search.html">
        <input class="form-control" id="search_input" name="q" type="search" autocomplete="off" placeholder="Search" data-empty="No results" aria-label="Search" />
        <label for="search_input">{{ macros.icon('search') }}</label>
      </form>
      <a class="btn btn-outline-secondary" href="#signin">Sign In</a>
      <a class="btn btn-outline-secondary" href="#signout">Sign Out</a>
    </div>
  </div>
</nav>
