// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

@import 'node_modules/open-color/open-color.scss';

// gray
$white: $oc-white;
$gray-100: $oc-gray-1;
$gray-200: $oc-gray-2;
$gray-300: $oc-gray-3;
$gray-400: $oc-gray-4;
$gray-500: $oc-gray-5;
$gray-600: $oc-gray-6;
$gray-700: $oc-gray-7;
$gray-800: $oc-gray-8;
$gray-900: $oc-gray-9;
$black: $oc-black;

// colors
$blue: $oc-blue-5;
$indigo: $oc-indigo-5;
$purple: $oc-grape-5;
$pink: $oc-pink-5;
$red: $oc-red-5;
$orange: $oc-orange-5;
$yellow: $oc-yellow-5;
$green: $oc-green-5;
$teal: $oc-teal-5;
$cyan: $oc-cyan-5;

// theme-colors
$primary: $blue;
$secondary: darken($gray-600, 10%);

// Bootstrap variables
@import 'node_modules/bootstrap/scss/variables';

